# Pruebas sobre dataset propierati

---

In [117]:
import pandas as pd
import numpy as np
import re

In [118]:
df_propierati = pd.read_csv('../properati.zip', compression='zip')
df_prop_uz = pd.read_csv('../properati.csv')

In [121]:
df_propierati.head(2)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.0,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...

In [4]:
# URLs no existen
df_propierati.properati_url[1]

'http://www.properati.com.ar/15bob_venta_departamentos_la-plata_balcon_lavadero_toilette_garage_estrenar_antonini-propiedades_dcp'

In [120]:
# Dimensiones data frame y tamañano
print(df_propierati.shape)
print(df_propierati.size)

(121220, 26)
3151720

In [18]:
# cantidad de registros
df_propierati.index

RangeIndex(start=0, stop=121220, step=1)

In [19]:
# cantidad de columnas
df_propierati.columns

Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [20]:
df_propierati.title[0:10]

0                   2 AMB TIPO CASA SIN EXPENSAS EN PB
1    VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37   ...
2             2 AMB 3ER PISO CON ASCENSOR APTO CREDITO
3                         PH 3 amb. cfte. reciclado
4    DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...
5    Casa Barrio 338. Sobre calle 3 de caballería, ...
6    MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO,...
7    JOSE HERNANDEZ 1400 MONOAMBIENTE  ESTRENAR CAT...
8    JOSE HERNANDEZ   1400 DOS AMBIENTES ESTRENAR ,...
9           WHITE 7637 - 2 DORMITORIOS CON PATIO
Name: title, dtype: object

In [123]:
# Tipos de datos columnas
df_propierati.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

In [125]:
# Porcentaje de nulos por columna
df_propierati.isnull().sum() / df_propierati.shape[0]

Unnamed: 0                    0.000000
operation                     0.000000
property_type                 0.000000
place_name                    0.000190
place_with_parent_names       0.000000
country_name                  0.000000
state_name                    0.000000
geonames_id                   0.154405
lat-lon                       0.425260
lat                           0.425260
lon                           0.425260
price                         0.168372
currency                      0.168380
price_aprox_local_currency    0.168372
price_aprox_usd               0.168372
surface_total_in_m2           0.324435
surface_covered_in_m2         0.164222
price_usd_per_m2              0.433947
price_per_m2                  0.276869
floor                         0.934837
rooms                         0.609058
expenses                      0.882346
properati_url                 0.000000
description                   0.000016
title                         0.000000
image_thumbnail               0.025672
dtype: float64

In [128]:
prop_floor_mask = df_propierati.floor.notnull()
df_propierati.loc[prop_floor_mask, :].head(2)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
83,83,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,"-32.954876705,-60.6518377614",-32.954877,...,55.0,NaN,NaN,5.0,2.0,NaN,http://www.properati.com.ar/15byz_venta_depart...,IDEAL INVERSORES o ESTUDIANTES APTA CREDITO An...,2 Dormitorios. Dorrego y Pellegrini,https://thumbs4.properati.com/5/6EjItxfpThdt-D...
85,85,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,"-32.9588372,-60.6456409",-32.958837,...,63.0,NaN,NaN,1.0,1.0,NaN,http://www.properati.com.ar/15bz1_venta_depart...,Corrientes 1900 – 1º Piso Departamento de 1 do...,Corrientes 1900 – 1º Piso 1 dormitorio (semip...,https://thumbs4.properati.com/8/Gc4BDlZf59gKpg...

In [129]:
df_propierati.groupby("property_type")['property_type'].size()

property_type
PH            5751
apartment    71065
house        40268
store         4136
Name: property_type, dtype: int64

In [130]:
df_propierati.groupby(['state_name','place_name']).size()

state_name                place_name
Bs.As. G.B.A. Zona Norte   Country Maschwitz Club       3
                           los alamos                   1
                          Acacias Blancas              34
                          Acassuso                    242
                          Albanueva Barrio Cerrado     26
                                                     ...
Tucumán                   Tafí Viejo                   16
                          Tafí del Valle               22
                          Tucumán                      77
                          Villa Belgrano                1
                          Yerba Buena                 191
Length: 1098, dtype: int64

In [132]:
ba_pn_mask = df_propierati.state_name.isin(['Capital Federal', 'Santa Fe'])
ba_pn_mask.value_counts()

False    78732
True     42488
Name: state_name, dtype: int64

In [133]:
df_propierati.loc[ba_pn_mask, 'state_name'].value_counts()

Capital Federal    32316
Santa Fe           10172
Name: state_name, dtype: int64

In [134]:
df_propierati.loc[ba_pn_mask, :].groupby(['state_name','place_name']).size()

state_name       place_name
Capital Federal  Abasto                 113
                 Agronomía               41
                 Almagro               1165
                 Balvanera              667
                 Barracas               425
                                       ...
Santa Fe         Susana                   1
                 Timbúes                  3
                 Venado Tuerto            1
                 Villa Constitución      20
                 Álvarez                  1
Length: 138, dtype: int64

In [135]:
np.round(df_propierati.pivot_table(values=['price_aprox_usd','surface_covered_in_m2'], index='state_name', aggfunc='mean'), 2).head(10)

                              price_aprox_usd  surface_covered_in_m2
state_name
Bs.As. G.B.A. Zona Norte            324317.12                 179.88
Bs.As. G.B.A. Zona Oeste            167545.65                 129.84
Bs.As. G.B.A. Zona Sur              198555.72                 149.39
Buenos Aires Costa Atlántica        143430.99                 117.85
Buenos Aires Interior               183250.00                 163.40
Capital Federal                     269603.18                  97.79
Catamarca                           725471.71                 260.76
Chaco                               178583.55                 182.27
Chubut                              342338.18                 279.18
Corrientes                          206896.79                 158.30

In [136]:
patt_bsas = '^Buenos Aires|Bs\.As\.+'
reg_bsas = re.compile(patt_bsas)
#df_propierati.place_name.str.contains(reg_bsas)